Source: ros-kinetic-ibeo-core
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-network-interface, ros-kinetic-roslint
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-ibeo-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-network-interface
Description: The ibeo_core package
