Source: ros-indigo-ibeo-core
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-network-interface, ros-indigo-roslint
Homepage: http://wiki.ros.org/ibeo_core
Standards-Version: 3.9.2

Package: ros-indigo-ibeo-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-network-interface
Description: The ibeo_core package
